
<%= form_with model: [@category, @task], local: true, method: :put do |f|  %>
  <p>
    <% if @task.errors.any?  %>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    <% end %>     
  </p>
  <%= f.hidden_field :id %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :deadline %>
    <%= f.datetime_field :deadline %>
  </p>
  <p>
    <%= f.label :started %>
    <%= f.check_box :started %>
    <%= f.datetime_field :started_at %>
  </p>
  <p>
    <%= f.label :completed %>
    <%= f.check_box :completed %>
    <%= f.datetime_field :completed_at %>
  </p>
  <p>
    <%= f.submit 'Save', class: 'button' %>
    <%=  link_to 'Delete', category_task_path(@category.id, @task.id), method: :delete, class: 'button', data: {confirm: "Are you sure you want to delete this task?"} %>
    <%=  link_to 'Cancel', category_tasks_path(@category.id), method: :get, class: 'button' %>
  </p>
<% end %>
