<h2>Tasks > Edit</h2>
<%= form_with scope: :task, url: update_task_path, local: true, method: :put do |f|  %>
  <div class="validations">
    <ul>
        <li><%=  @task.errors.full_messages[0] %></li>
    </ul>
  </div>
  <%= f.hidden_field :id %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category_id, "Category" %>
    <%= f.select :category_id, Category.all.collect { |c| [ c.name, c.id ] } %>
  </div>
  <div class="textarea-field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="datefield">
    <%= f.label :deadline %>
    <%= f.datetime_field :deadline %>
  </div>

  <div class="start-complete">
    <div>
      <div class="check-field">
        <%= f.check_box :started %>
        <%= f.label :started %>
      </div>
      <div class="datefield">
        <%= f.datetime_field :started_at %>
      </div>
    </div>
    <div>
      <div class="check-field">
        <%= f.check_box :completed %>
        <%= f.label :completed %>
      </div>
      <div class="datefield">
        <%= f.datetime_field :completed_at %>
      </div>
    </div>

  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'button' %>
    <%=  link_to 'Delete', delete_task_path(@task.id), method: :delete, class: 'button', data: {confirm: "Are you sure you want to delete this task?"} %>
    <%=  link_to 'Cancel', today_task_path, method: :get, class: 'button' %>
  </div>
<% end %>
