<%= form_with scope: :task, url: create_task_path, local: true do |f| %>
  <div class="validations">
    <ul>
        <li><%=  @task.errors.full_messages[0] %></li>
    </ul>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category_id, "Category" %>
    <%= f.select :category_id, Category.all.collect { |c| [ c.name, c.id ] } %>
  </div>
  <div class="textarea-field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="datefield">
    <%= f.label :deadline %>
    <%= f.datetime_field :deadline %>
  </div>

  <div class="actions">
    <%= f.submit 'Create', class: 'button' %>
    <%=  link_to 'Back to Tasks', today_task_path, method: :get, class: 'button' %>
  </div>
  <% end %>