<h2>
  Tasks > <%= @task.title %>
</h2>
<div>
  <strong><%= label(:task, :description) %></strong>
  <div>
    <%= @task.description %>
  </div>
</div>
<div>
  <strong><%= label(:task, :deadline) %>: </strong> <%= @task.deadline.nil? ? "Not set" : @task.deadline %>
</div>
<div>
  <strong><%= label(:task, :started) %>: </strong> <%= @task.started ? @task.started_at.nil? ? "Yes, date not set" : @task.started_at : "No" %>
</div>
<div>
  <strong><%= label(:task, :completed) %>: </strong> <%= @task.completed ? @task.completed_at.nil? ? "Yes, date not set" : @task.started_at : "No" %>
</div>

<%= link_to "Edit", edit_task_path(@task.id), class: 'button' %>
<%= link_to "Back to Tasks", today_task_path, class: 'button' %>