<h2>Tasks > Today</h2>
<div class="list">
    <div>
        <%= link_to '+ New Task', new_task_path, method: :get, class: 'button'%>
        <%= link_to 'All Tasks', tasks_path, method: :get, class: 'button'%>
    </div>
    <% if @started_tasks.any? %>
      <h3 class="tasks-header">
        <span>Started Tasks(<%= @started_tasks.count %>)</span><span>-</span>
      </h3>
      <div>
      <% @started_tasks.each do |task| %>
        <div class="task-list-item">
            <div>
              <h4><%= link_to task.title, show_task_path(task.id), method: :get %></h4>
              <p><strong><%= task.category.name %></p></strong>
            </div>
            <p>
                <%= task.description %>
            </p>
            <div>
              <div>
                <p><strong>Deadline:</strong> <%= task.deadline.nil? ? "Not set" : task.deadline %></p>
                <p><strong>Started at:</strong>  <%= task.started_at.nil? ? "Not set" : task.started_at %></p>                  
              </div>
              <div>
                <%= link_to 'View', show_task_path(task.id), method: :get, class: 'button' %>
                <%= link_to 'Edit', edit_task_path(task.id), method: :get, class: 'button' %>  
              </div>     
            </div>  
            <hr>              
        </div>
      <% end %>
      </div>
    <% end %> 
    <% if @pending_tasks.any? %>
      <h3 class="tasks-header">
        <span>Pending Tasks(<%= @pending_tasks.count %>)</span><span>-</span>
      </h3>
      <div>
        <% @pending_tasks.each do |task| %>
        <div class="task-list-item">
            <div>
              <h4><%= link_to task.title, show_task_path(task.id), method: :get %></h4>
              <p><strong><%= task.category.name %></p></strong>
            </div>
            <p>
                <%= task.description %>
            </p>
            <div>
              <div>
                <p><strong>Deadline:</strong> <%= task.deadline.nil? ? "Not set" : task.deadline %></p>                
              </div>
              <div>
                <%= link_to 'View', show_task_path(task.id), method: :get, class: 'button' %>
                <%= link_to 'Edit', edit_task_path(task.id), method: :get, class: 'button' %>  
              </div>  
            </div>
            <hr>              
        </div>
      <% end %>
      </div>
    <% end %>
    <% if @completed_tasks.any? %>
      <h3 class="tasks-header">
        <span>Completed Tasks(<%= @completed_tasks.count %>)</span><span>-</span>
      </h3>
      <div>
            <% @completed_tasks.each do |task| %>
        <div class="task-list-item">
          <div>
            <h4 class=><%= link_to task.title, show_task_path(task.id), method: :get %></h4>
            <p><strong><%= task.category.name %></p></strong>
          </div>
          <p>
              <%= task.description %>
          </p>
          <div>
            <div>
              <p><strong>Deadline:</strong> <%= task.deadline.nil? ? "Not set" : task.deadline %></p>
              <p><strong>Completed at:</strong>  <%= task.completed_at.nil? ? "Not set" : task.completed_at %></p>                  
            </div>
            <div>
              <%= link_to 'View', show_task_path(task.id), method: :get, class: 'button' %>
              <%= link_to 'Edit', edit_task_path(task.id), method: :get, class: 'button' %>  
            </div>     
          </div>  
          <hr>              
        </div>
      <% end %>
      </div>

    <% end %>
</div>






