<div class="section">
    <%= form_with model: [@category], local: true, method: :put do |f|  %>
        <div class="validations">
            <% if @category.errors.any?  %>
                    <% @category.errors.full_messages.each do |message| %>
                        <div>
                            <%= message %>
                        </div>
                    <% end %>
            <% end %>     
        </div>
        <%= f.hidden_field :id %>
        <div class="form-group">
            <%= f.label :name, class: 'form-label' %>
            <%= f.text_field :name, class: 'text-input' %>
        </div>
        <div class="form-group">
            <%= f.label :description, class: 'form-label' %>
            <%= f.text_field :description, class: 'text-area' %>
        </div>

        <div class="form-group">
            <%= f.submit 'Save', class: 'button' %>
            <%=  link_to 'Delete', category_path(@category.id), method: :delete, class: 'button', data: {confirm: "Are you sure you want to delete this category?"} %>
            <%=  link_to 'Cancel', categories_path, method: :get, class: 'button' %>
        </div>
    <% end %>
</div>




