<h2>Categories > Create</h2>
<%= form_with scope: :category, url: create_category_path, local: true do |f|  %>
    <div class="validations">
        <% if @category.errors.any?  %>
          <%= @category.errors.full_messages[0] %>
        <% end %>     
    </div>
    <div class="field">
        <%= f.label :name, class: 'form-label' %>
        <%= f.text_field :name, class: 'text-input' %>
    </div>
    <div class="textarea-field">
        <%= f.label :description, class: 'form-label' %>
        <%= f.text_area :description, class: 'text-area' %>
    </div>

    <div class="actions">
        <%= f.submit 'Create', class: 'button' %>
        <%=  link_to 'Back to Categories', categories_path, method: :get, class: 'button' %>
<% end %>
