<!DOCTYPE html>
<html>
  <head>
    <title>Journal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="container">
        <header>
          <h2>Journal Plannner</h2>
            <ul class="nav-links">
              <% if params[:controller] == 'tasks' && %w(index new edit show today).include?(params[:action]) %>
                <li class="active">
              <% else %>
                <li>
              <% end %>
                <%= link_to 'Tasks', tasks_path %>
              </li>
              <% if params[:controller] == 'categories' && %w(index new edit show).include?(params[:action]) %>
                <li class="active">
              <% else %>
                <li>
              <% end %>
                <%= link_to 'Categories', categories_path %>
              </li>
            </ul>
        </header>
        <main>
            <%= yield %>
        </main> 
      </div>
  </body>
</html>
