<!DOCTYPE html>
<html>
  <head>
    <title>Journal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="container">
        <header>
        <div>
          <h2>Journal Plannner</h2>
        <% if user_signed_in? %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "logout", data: {confirm: "Are you sure you want to logout?"} %>
        </div>
            <div>
              <ul>
                <% if params[:controller] == 'tasks' %>
                  <li class="active">
                <% else %>
                  <li>
                <% end %>
                  <%= link_to 'Tasks', tasks_path %>
                </li>
                <% if params[:controller] == 'categories' %>
                  <li class="active">
                <% else %>
                  <li>
                <% end %>
                  <%= link_to 'Categories', categories_path %>
                </li>
                <% if params[:controller] == 'profile' %>
                  <li class="active">
                <% else %>
                  <li>
                <% end %>
                  <%= link_to 'Profile', profile_path %>
                </li>
              </ul>
              <ul>
              </ul>
            </div>
          <% else %>
            <% if params[:controller] != 'devise/registrations' %>
              <%= link_to 'Register', new_user_registration_path, class: "register" %>
            <% else %>
              <%= link_to 'Login', new_user_session_path, class: "register" %>
            <% end %>
          </div>
          <div>
            <ul>
            </ul>
          </div>
          <% end %>
        </header>
        <main>
            <%= yield %>
        </main> 
      </div>
  </body>
</html>
